<!DOCTYPE html>
<html>
<head>
	<head>
  <title>Dicom Headers</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

</head>
<body>

<div class = "container">
	<div class = "jumbotron">
<center>{{ error }}</center>
</div>
</div>

<div class="container">

<ul class="list-group">
<li class="list-group-item list-group-item-success"> Name: {{ name }}  </li>
<li class="list-group-item list-group-item-success"> Study Date: {{ StudyDate }} </li>
<li class="list-group-item list-group-item-success"> Accession# : {{ Accession }}  </li>
<li class="list-group-item list-group-item-success"> Patient ID: {{ PatientID }}  </li>
<li class="list-group-item list-group-item-success"> Institute Name: {{ Institute }}  </li>
<li class="list-group-item list-group-item-success"> SOP Instance UID: {{ SOPUID }}  </li>
<li class="list-group-item list-group-item-success"> Study Instance UID: {{ StudInsUID }}  </li>
<li class="list-group-item list-group-item-success"> Series Instance UID: {{ SerInsUID }} </li>



</body>
</html>